<button (click)="condicion = !condicion">Cambiar estado a {{!condicion}}</button>
<p  *ngIf="condicion" >Si ves este mensaje es porque la variable condición es verdadera</p>
<hr>
<!-- Uso de else -->
<ng-template #variableParaElse>
  <p>Si ves este mensaje es porque la variable condición es falsa</p>
</ng-template>
<p *ngIf="condicion; else variableParaElse">Si ves este mensaje es porque la variable condición es verdadera</p>
<hr>
<!-- uso de then -->
<ng-template #variableParaIf>
  <p>Si ves este mensaje es porque la variable condición es verdadera</p>
  <p>Si ves este mensaje es porque la variable condición es verdadera</p>
</ng-template>
<ng-template #otraVariableParaElse>
  <p>Si ves este mensaje es porque la variable condición es falsa</p>
  <p>Si ves este mensaje es porque la variable condición es falsa</p>
</ng-template>
<p  *ngIf="condicion; then variableParaIf else otraVariableParaElse">
  Yo no me mostraré, mi propósito es evaluar el ngIf 😎
</p>
